body {
	overflow-x: hidden;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


#banner1 {
	display: block;
	background-color: #23D5AB;
	height: 50px;
	width: 100%;
}

#menu {
	min-width: 500px;
	width: 100%;
	height: 100px;
	position: relative;
	background-color:#00F3E0; 
}

#menu ul {
	float: left;
	left: 50%;
	padding-top: 15px;
	margin-left: -60px;
    position: relative;
}

#menu ul li {
	margin-left: 20px;
	float: left;
	list-style-type: none;
	position: relative;
	left: -50%;
}

#menu ul li a {
	text-align: center;
	padding-top: 10px;
   	display:inline-block;
   	background-color:#23D5AB; 
   	height: 30px;
   	width: 100px;
   	color:black;
	text-decoration: none;

}

#menu ul li a:hover {
	color:white;
	background-color: purple;

}

#banner2 {
	display: block;
	background-color: #23D5AB;
	height: 50px;
	width: 100%;
}

#contenuprincipal {
	display:block;
	width: 90%;
	margin: auto;
}

#footer {
	text-align: center;
	display: block;
	background-color: #7fffbb; 
	height:60px;
}
#footer p {
	color:black;
	font-weight: bold;
	position: relative;
	top: 16px;

}

.text {
    animation: inherit;
}
.background {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 100s infinite;
    background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
    .background {
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;
    }
}

@import "https://fonts.googleapis.com/css?family=Lato:100";



html{
	font-size: 2-5px;
	font-family:  "Lato",Arial, sans-serif;
}

section{
	width: 100%;
	height: 118vh;
	color: #fff;
	background: linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}


@keyframes change {
	0%{
		background-position: 0 50%;
	}
 	50%{
 		background-position: 100% 50%
 	}
 	100%{
 		background-position: 0 50%
 	}
}
